/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le body */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(230, 72, 9);
    overflow-x: hidden;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 30px;
}

/* Styles pour la navigation */
.fixe-nav{
    width: 100%;
}
nav {
    background-color: #313030;
    padding: 10px;
    height: 60px;
    width: 100%;
    position: fixed;
    top: -1px;
    left: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
}

nav ul li {
    margin-right: 20px;
}
nav ul div{
    display: flex;
}
.menu{
    position: fixed;
    display: flex;
    left: 10px;
}
 nav ul img{
    position: fixed;
    display: flex;
    right: 10px;
}
nav ul form{
    position: fixed;
    right: 95px;
} 
nav ul li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color:rgb(230, 72, 9);
    color: white;
    border-radius: 12px;
}
.filter-icon{
    margin-right: 20px;
    width: 40px; 
    height: 40px; 
    float: right;
    cursor: pointer;
    border-radius: 50%;
}

/* Styles pour le contenu principal */
.content {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content p {
    font-size: 30px; 
    text-align: center; 
    margin-top: 20%;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0; 
    margin-top: 20%;
}

/*Style pour le filter*/

#filter {
    display: none; /* Masquer l'élément par défaut */
    float: right;
    background-color: rgb(75, 73, 73);
    padding: 20px;
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
    position: absolute;
    right: 0px;
    top: 70px;
}
  
#filter:target {
  display: block; /* Afficher l'élément lorsque ciblé */
  
}

#filter h2 {
    margin-bottom: 20px;
}

#filter form {
    display: flex;
    flex-direction: column;
    color: rgb(215, 222, 226);
    font-size: larger;
/* align-items: center; */
}

.creation-filter,
.first-album,
.members,
.locations {
    margin-bottom: 20px;
}

.creation-filter input[type="number"],
.first-album input[type="number"] {
    width: 120px;
    height: 25px;
}

.members input[type="range"] {
    width: 100%;
}
.members input[type="checkbox"]{
    margin-bottom: 15px;
} 
.members{
    /* height: 5px; */
    border-radius: 5px;
    
}
.range-slider {
    height: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
}
.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(230, 72, 9);;
}
.range-input {
    position: relative;
    cursor: pointer;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -6px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid rgb(230, 72, 9);
    background-color: rgb(230, 72, 9);
    pointer-events: auto;
    -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid rgb(230, 72, 9);
    background-color: rgb(230, 72, 9);
    pointer-events: auto;
    -moz-appearance: none;
}
.range-price {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.range-price label {
    margin-right: 5px;
}
.range-price input {
    width: 40px;
    padding: 5px;
}
.range-price input:first-of-type {
    margin-right: 15px;
}

.locations select {
    width: 75%;
}

.filter-btn{
    width: 100px;
    font-size: larger;
    margin:auto;
    cursor: pointer;
}
.name-filter{
    text-align: center;
}
.slider1, .slider2{
    cursor: pointer;
}


/*style search bar*/
.search{
    position: relative;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px;
    transition: 0.5s;
    /* box-shadow: 0 0 0 3px black; */
    overflow: hidden;
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background: black;
    transform: translate(6px, 6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 40px;
    left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px, 0;
}
.clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

/* Media queries pour la réactivité */

@media only screen and  (max-width: 400px) {
    
    nav{
        height: 120px;
    }
    nav ul {
        list-style-type: none;
    }
    .menu{
        display: block;
        height: 120px;
    }
    .filter-icon{
        float: left;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    #filter{
        height: 300px;
        overflow-y: auto;
    }
    label{
        font-size: small;
    }
    .filter-btn{
        width: auto;
        margin:auto;
        cursor: pointer;
    }
    .artist-image{
        display: block;
        margin: auto;
        height: 90px;
        width: 90px;
        border-radius: 50%;/* nav {
    background-color: #313030;
    padding: 10px;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color:rgb(230, 72, 9);
    color: white;
    border-radius: 12px;
} */
    }
    .title h1{
        font-size: x-large;
    }
    .artist-item h3{
        font-size: large;
    }
    .artist-info h3{
        font-size: large;
    }
    .artist-creation-date{
        font-size: large;
    }
    .artist-first-album{
        font-size: large;
    }
    .artist-locations-title{
        font-size: large;
    }
    .fixe-nav{
        position: fixed;
    }
    .container{
        overflow-y: auto;
    }
    .menu{
        display: block;
    }
    .search{
        margin-right: -20px;
        height: 33px;
        width: 33px;
    }
    .search .icon{
        height: 33px;
        width: 33px;
    }
    .search.active{
        width: 160px;
    }
    .search .input{
        height: 33px;
    }
  
}

@media  screen and  (max-width: 1000px) {
    nav{
        height: 160px;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    .menu{
        display: block;
        height: 120px;
    }
    .content {
        margin-top: 140px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .content p {
        flex: 0 0 60%;
        margin-right: 20px;
    }

    .content img {
        flex: 0 0 10%;
        margin-left: 20px;
    }
    #filter{
        position: relative;
        
   }
   .creation-filter,
    .first-album,
    .members,
    .locations {
        margin-bottom: 20px;
    }

    .creation-filter input[type="number"],
    .first-album input[type="number"] {
        width: 75px;
        height: 25px;
    }

    .members input[type="range"] {
        width: 100%;
    }

    .locations select {
        width: 75%;
    }
    #filter{
        position: absolute;
        right: 0px;
    }
    .filter-btn{
        width: auto;
        font-size: small;
        margin:auto;
    }
    .artist-image{
        display: block;
        margin: auto;
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    .title h1{
        font-size: x-large;
    }
    .artist-item h3{
        font-size: large;
    }
    .artist-info h3{
        font-size: large;
    }
    .artist-creation-date{
        font-size: large;
    }
    .artist-first-album{
        font-size: large;
    }
    .artist-locations-title{
        font-size: large;
    }
    .fixe-nav{
        position: fixed;
    }
    .container{
        overflow-y: auto;
    }
    
    .search{
        margin-right: -20px;
        height: 33px;
        width: 33px;
    }
    .search .icon{
        height: 33px;
        width: 33px;
    }
    .search.active{
        width: 160px;
    }
    .search .input{
        height: 33px;
    }
    .search .icon::before{
    width: 9px;
    height: 9px;
    transform: translate(-2px, -2px);
    }
    .search .icon::after{
        width: 3px;
        height: 9px;
        transform: translate(5px, 5px) rotate(315deg);
    }
    .filter-icon{
        height: 33px;
        width: 33px;
    }
    
}

@media (max-width: 768px) {
    .location-list{
        display: none;
    }
    .date-list {
        grid-template-columns: repeat(2, 1fr);
       
    }
    .location-item {
        flex: 0 0 calc(50% - 20px);
    }
    .artist-details {
        margin-top: 100px;
        flex-direction: column;
    }

    .artist-info {
        order: 1;
    }
    .artist-list {
        display:none
    }
    .artist-item-inline {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }
    .artist-item-inline img{
        margin-left: 0px;
    }
    .artist-locations {
        width: 100%;
    }
    .artist-item{
        width: 98%;
        justify-items: center;
        text-align: center;
    }  
    .location-info h2{
        font-size: small;
    } 
    .location-info h3{
        font-size: large;
    }
    .menu{
        display: block;
    }
    .search{
        margin-right: -20px;
        height: 33px;
        width: 33px;
    }
    .search .icon{
        height: 35px;
        width: 35px;
    }
    .search.active{
        width: 160px;
    }
    /* nav ul li a {
        font-size: 10px;
    } */
    .date-list-item{
        display: none;
    }
    .fixe-nav{
        width: 100%;
        position: fixed;
        margin-left: -10px;
        margin-top: -10px;
    }
    .container{
        overflow-y: auto;
    }
    .title h1{
        color: white;
        background-color:  rgb(75, 73, 73);
    }
    .date-list{
        margin-top: 150px;
        overflow-y: auto;
    }
    
    .filter-icon{
        float: left;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
  
}

@media (max-width: 480px) {
    .location-item {
        flex: 0 0 calc(100% - 20px);
    }
    .date-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .artist-item img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .location-list{
        display: none;
    }
    .artist-item{
        width: 98%;
        justify-items: center;
        text-align: center;
    }
    .location-info h2{
        font-size: small;
    }
    .location-info h3{
        font-size: large;
    }
    .menu{
        display: block;
    }
    .search{
        margin-right: -20px;
        height: 33px;
        width: 33px;
    }
    .search .icon{
        height: 35px;
        width: 35px;
    }
    .search.active{
        width: 160px;
    }
    /* nav ul li a {
        font-size: 10px;
    } */
    .date-list-item{
        display: none;
    }
    .fixe-nav{
        width: 100%;
        position: fixed;
        margin-left: -10px;
        margin-top: -10px;
    }
    .container{
        overflow-y: auto;
    }
    .title h1{
        color: white;
        background-color:  rgb(75, 73, 73);
    }
    .date-list{
        margin-top: 150px;
        overflow-y: auto;
    }
    .filter-icon{
        float: left;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .artist-details{
        margin-top: 100px;
    }
   
}