<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/location.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/icon.jpeg">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Artist-details</title>
    <script src="/static/script/form.js" defer></script>
    <script src="/static/script/search.js" defer></script>
</head>
<body>
    <div class="fixe-nav">
        {{define "ExtraItem"}} 
            <img src="/static/images/filtre.jpg" alt=""  class="filter-icon" onclick="toggleDiv()" >
        {{end}}
        {{template "navbar" .}}
        {{template "form" .}}
    </div>
    <div class="artist-details">
        <div class="artist-info">
            <img src="{{.Img}}" alt="" class="artist-image">
            <h3 class="artist-name">{{.Name}}</h3>
            <h3>Members</h3>
            <p class="artist-members">
                {{range .Member}}
                    {{.}} <br>
                {{end}}
            </p>
            <h2 class="artist-creation-date">Creation Date {{.CreatDat}}</h2>
            <h2 class="artist-first-album">First Album {{.FirstAlbum}}</h2>
        
            <h3 class="artist-locations-title">Location Dates</h3>
            <table class="artist-locations">
                <thead>
                    <tr>
                        <th class="location">Location</th>
                        <th class="date">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $key, $val := .DatLoc}}
                        <tr>
                            <td class="location"><pre class="">{{$key}}</pre> </td>
                            <td class="date">{{range $val}} {{.}} <br> {{end}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            <div class="cordonnate">
                {{range .Geoloc}}    
                    {{range $city, $dat := .City}}<p class="city" style="display: none;">{{$city}}  <br> {{range $dat}} {{.}} <br> {{end}}</p>{{end}}
                    <p class="lat" style="display: none;">{{.Lat}}</p>
                    <p class="long" style="display: none;">{{.Long}}</p>
                {{end}}
            </div>   
            <div id="map" style="height: 600px;"></div>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script>

                var map = L.map('map').setView([0, 0], 3);
               
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenStreetMap contributors',
                    minZoom: 2,
                    noWrap: true
                }).addTo(map);
            
                // Les coordonnées et noms des villes à afficher
                var cities = document.querySelectorAll('.city')
                var lats = document.querySelectorAll('.lat')
                var longs = document.querySelectorAll('.long')
                
                for (var i = 0; i < cities.length; i++){
                   
                    var city = cities[i].innerHTML
                    var lat = parseFloat(lats[i].textContent)
                    var lng = parseFloat(longs[i].textContent)

                    L.marker([lat, lng]).addTo(map)
                    .bindPopup(city)
                    .openPopup();
                }
            </script> 
        </div>
    </div> 
</body>
</html>