<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/location.css">
    <link rel="icon" href="/static/images/icon.jpeg">
    <script src="/static/script/form.js" defer></script>
    <script src="/static/script/search.js" defer></script>
</head>
<body>
    {{define "ExtraItem"}} 
    <img src="/static/images/filtre.jpg" alt=""  class="filter-icon" onclick="toggleDiv()" >
    {{end}}
    {{template "navbar" .}}
    {{template "form" .}}

    <div class="container">  
        {{if .Boul}} <h1 class="no-result">{{.NoResult}} </h1>
        {{else if .Artboul}}  
            {{range .Artists}}
            <div class="artist-item">
                <a href="/artist-details?Id={{.Aid}}">
                <img class="circle-image" src="{{.AImg}}" alt="">
                <h3 class="name">{{.Aname}}</h3>
                </a> 
            </div>   
            {{end}}
        </div>
        {{else}}
            <div class="location-details">
                <div class="location-info">
                    <h2>Location: {{.Loc}}</h2>
                    <div class="artist-details">
                        {{ $images := index .Artistimg }}
                        {{ $names := index .Artistname }}
                        {{ $dates := index .Date }}
        
                        {{ range $index, $val := $images }}
                        <div class="artist-item">
                            <img src="{{$val}}" alt=""> 
                            <h3>{{$name := index $names $index}} {{$name}}</h3>
                            <h3>Concert date</h3>
                            <h4>{{range $date := index $dates $index}} {{$date}} <br>{{end}}</h4>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="location-list">
                    {{range .GlobLoc}}
                
                        <a href="/location-detail?Loc={{.}}" class="location-item-inline">{{.}}</a>
                
                    {{end}}
                </div>
            </div>
        {{end}}
</body>
</html>